@font-face {
    font-family: screen-font;
    src: url('fonts/DSEG7Classic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: operator-font;
    src: url('fonts/DSEG14Classic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url('fonts/lato.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #969e9b;
    padding: 0;
    margin: 0;
}

.Calculator {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: wheat; /* For debugging */
}

.Screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    color: white;
    background-color: #8f8e74;
    transition: background-color .2s;
    padding: 0 20px;
    border-left: 1px solid #4e4e4e;
    border-right: 1px solid #4e4e4e;
}

p {
    font-size: 3em;
    display: inline-block;
    margin: 0;
}

p:first-of-type {
    font-family: "screen-font", sans-serif;;
}

p:first-of-type:before {
    content: "88888888";
    font-family: "screen-font", sans-serif;;
    position: absolute;
    color: rgba(54, 53, 39, 0.1);
}

p:last-of-type {
    font-family: "operator-font", sans-serif;;
    float: right;
}

p:last-of-type:before {
    content: "~";
    font-family: "operator-font", sans-serif;;
    position: absolute;
    color: rgba(54, 53, 39, 0.1);
}

.Pad {
    width: 100%;
    height: 80%;
}

.OperatorPad {
    width: 25%;
    height: 80%;
    float: right;
}

.NumberPad {
    width: 75%;
    height: 80%;
}

.FunctionPad {
    width: 75%;
    height: 20%;
}

button {
    height: 25%;
    font-family: "Lato", sans-serif;;
    font-weight: 600;
    font-size: xx-large;
    border: none;
    color: black;
    outline: 1px solid #4e4e4e;
    background-color: #d2d3d7;
    transition: background-color .4s;
}

.OperatorPad button {
    width: 100%;
    color: white;
    background-color: darkorange;
}

.OperatorPad button:hover {
    background-color: #ec7d00;
}

.NumberPad button {
    width: 33.333%;
}

.NumberPad button:last-of-type {
    width: 66.666%;
}

.NumberPad button:hover {
    background-color: #e0e1e5;
}

.FunctionPad button {
    width: 50%;
    height: 100%;
}

.FunctionPad button:hover {
    background-color: #e5cfc6;
}

#fork-in-gitlab-banner {
    display: none;
}

@media only screen and (min-width: 768px) and (min-height: 768px){
    .Calculator {
        width: 768px;
    }

    p {
        font-size: 4em;
    }

    #fork-in-gitlab-banner {
        display: block;
        position: fixed;
        width: 240px;
        top: 0;
        right: 0;
        opacity: 0.6;
        z-index: 99;
        transition: transform .6s, opacity .5s;
    }

    #fork-in-gitlab-banner:hover {
        opacity: 1;
        transform: scale(1.1);
        transition: transform 1s, opacity .5s;
    }
}